<h1>New user</h1>
<div class="row">
<section id="new" class="new">

    <div class="col-md-3">
  <ul class="list-group">
  <li class="list-group-item col-xs-6">Departamento</li>
  <li class="list-group-item col-xs-6">Id</li>
  <li class="list-group-item col-xs-6">Sistemas</li>
  <li class="list-group-item col-xs-6">1</li>
  <li class="list-group-item col-xs-6">Direccion</li>
    <li class="list-group-item col-xs-6">2</li>
    <li class="list-group-item col-xs-6">Traslados</li>
    <li class="list-group-item col-xs-6">3</li>
    <li class="list-group-item col-xs-6">Mantenimiento</li>
    <li class="list-group-item col-xs-6">4</li>
    <li class="list-group-item col-xs-6">C.Vehicular</li>
    <li class="list-group-item col-xs-6">5</li>
    <li class="list-group-item col-xs-6">Cal.Estadistica</li>
    <li class="list-group-item col-xs-6">6</li>
    <li class="list-group-item col-xs-6">Med.Judiciales</li>
    <li class="list-group-item col-xs-6">7</li>
    <li class="list-group-item col-xs-6">Compras</li>
    <li class="list-group-item col-xs-6">8</li>
    <li class="list-group-item col-xs-6">Abastos</li>
    <li class="list-group-item col-xs-6">9</li>
    <li class="list-group-item col-xs-6">Com.Penitenciario</li>
    <li class="list-group-item col-xs-6">10</li>
    <li class="list-group-item col-xs-6">R.H</li>
    <li class="list-group-item col-xs-6">11</li>
    <li class="list-group-item col-xs-6">Dir.Gen.</li>
    <li class="list-group-item col-xs-6">12</li>
    <li class="list-group-item col-xs-6">Comun.Social</li>
    <li class="list-group-item col-xs-6">13</li>
    
</ul>
  </div>
 
  <div class="col-md-6">
<%= render 'form' %>

<%= link_to 'Back', users_path %>
     </div>
  
</section>
</div>