<!DOCTYPE html>
<html lang="es">
<body>
<section id="intro" class="intro">
<div class= "container">
  <div class="jumbotron" id="jumbo">
      <h1>Directorio FEEPMJ</h1>

  </div>
  </div>
</section>


  

       <%= image_tag("GOB.gif",:size => "200x200",class:"img-rounded") %>
  <div class="col-lg-6">
       <%= image_tag("logfis.gif",:size => "200x200") %>
  </div>
  

<footer class="footer">
 <p>© Departamento Sistemas Area de Desarrollo 2014</p>
</footer>
  </body>
</html>